/*Pour que les bordures de tous les éléments soient pris en compte dans les dimensions*/
* {
    box-sizing: border-box;
}

.mesImages {display:none}

body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

::-webkit-scrollbar {
   Background-color: black;
}

::-webkit-scrollbar-thumb {
   Background-color: rgb(7, 123, 7);
}

/*Tête de page sous le menu de navigation*/
.head {
    background-color: rgba(33, 33, 33, 0);
    height: 700px;
    color: white;
    text-align: center;
    margin-bottom: -20px;
  
}

/*Nom (Mon Site Web)*/
.head h1 {
    margin: 0;
    font-size: 45px;
    padding-top: 5%;
}

/*Menu navigation*/
.topMenuNav {
    background-color: black;
    overflow: hidden;
}

/*Liens vers autres pages menu navigation*/
.topMenuNav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

/*Icône menu navigation sous mobile*/
.topMenuNav .icon {
    display: none;
    padding: 12.5px 16px;
}

.topMenuNav a:hover {
    background-color: rgb(7, 123, 7);
}

.topMenuNav a:active {
    background-color: rgb(7, 123, 7);
}

/*Background image sous le nav*/
.headBackground {
    background-image: url(../images/paysageCanada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Desktop*/
[class*="col-"] {
    float: left;
    padding: 0px;
    border: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*Prévenir éléments de sortir du flow de la page*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Titre Destinations populaires*/
.destinationsPopulaires {
    background-color: black;
    color: white;
    text-align: center;
}

.destinationsPopulaires h2 {
    font-size: 30px;
}

/*****Carousel******/
.carouselContainer {
    border: none;
}
.carouselContainer img{
    max-height: 750px;
    transition: 
}

/* Dots du carousel */
.dot {
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: -30px;
  
}

.slidesDots {
    text-align: center;
    margin-top: -50px;
}

.active {
  background-color: rgb(7, 123, 7);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

/*Texte sur les images du carousel des destinations populaires*/
.imagesTexte {
    position: absolute;
    margin-top: -550px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 40px;
}

/**********Pied de page**********/
.footer {
    height: 150px;
    background-color: black;
    color: white;
}

.footer img {
    max-width: 50px;
    max-height: 50px;
    margin-top: 50px;
    margin-left: 20px;
    
}

/**********Mobile**********/
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    
    ::-webkit-scrollbar {
        Background-color: black;
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        Background-color: rgb(7, 123, 7);
    }   
    
    .head h1 {
        font-size: 25px;
    }
    
    .head {
        max-height: 225px;
    }
    
    .destinationsPopulaires {
        max-height: 50px;
    }
    
    .destinationsPopulaires h2{
        font-size: 20px;
    }
    
    /*****Carousel******/
    .carouselContainer img {
        height: 250px;
    }
    
    .dot {
        height: 8px;
        width: 8px;
    }
    
    /*Texte sur les images du carousel des destinations populaires*/
    .imagesTexte {
        margin-top: -175px;
        left: 50%;
        font-size: 20px;
    }
    
    .footer {
        height: 100px;
        color: white;
        font-size: 10px;
    }
    
    .footer img {
        margin-top: 40px;
        margin-left: 0px;
    
    }


/*topNav sur mobile*/
@media screen and (max-width: 600px) {
  .topMenuNav a:not(:first-child) {display: none;}
  .topMenuNav a.icon {
    float: right;
    display: block;
  }
}

/*Affichage du topNav en vertical sur menu lorsque le bouton est cliqué*/
@media screen and (max-width: 600px) {
  .topMenuNav.responsive {position: relative;}
  .topMenuNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topMenuNav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  }
}
