* {
    box-sizing: border-box;
}

/*****Loading Animation*****/

@keyframes loading {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.loading {
    border-radius: 360px;
    width: 100px;
    height: 100px;
    border-top: 10px solid black;
    border-left: 10px solid green;
    border-right: 10px solid red;
    border-bottom: 10px solid purple;
    margin-left: 25px;
    margin-top: 25px;
    text-align: center;
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-play-state: paused;
    background-color: white;
    
    
}

.loading:hover {
    animation-play-state: running;
}

/*****Description Image*****/
.image {
    width: 500px;
    height: 400px;
    background-image: url(../images/suisse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    background-color: rgba(0,0,0,0.7);
    color: white;
    margin: auto;
    display: none;
    position: absolute;
}


